<div class="w-full px-4">
  <div class="card w-full bg-base-300 shadow-xl">
    <div class="card-body flex xl:flex-row">
      <div class="w-1/3">
        <h2 class="card-title"><%= t(".code")%>: <%= @batch.code %></h2>
        <p>
          <span class="font-bold text-lg"><%= t(".start_at") %>:</span>
          <%= l @batch.start_at, format: :long %>
        </p>
        <p>
          <span class="font-bold text-lg"><%= t(".end_at") %>:</span>
          <%= l @batch.end_at, format: :long %>
        </p>
        <p>
          <span class="font-bold text-lg"><%= t(".minimum_bid") %>:</span>
          <%= t('currency', value: @batch.minimum_bid) %>
        </p>
        <p>
          <span class="font-bold text-lg"><%= t(".minimum_bid_difference") %>:</span>
          <%= t('currency', value: @batch.minimum_bid_difference) %>
        </p>
      </div>
      <div class="w-2/3">
        <h2 class="card-title"><%= t('.bids') %></h2>
        <% if @last_bid.nil? %>
          <p><%= t('.not_initialized') %></p>
        <% else %>
          <p>
            <span class="font-bold text-lg"><%= t(".last_bid") %>:</span>
            <%= t('currency', value: @last_bid.amount) %>
          </p>
        <% end %>
        <div class="divide mt-8"></div>
        <% if @batch.end_at >= DateTime.now && @batch.start_at <= DateTime.now%>
          <h2 class="card-title">Fazer lance</h2>
          <%= form_with model: @new_bid, data: {turbo: false} do |f| %>
            <input type="number" name="bid[batch_id]" value="<%= @batch.id %>" hidden>
            <%= f.label :amount, class: 'label' %>
            <%= f.number_field :amount, min: 1, class: 'input input-bordered max-w-ws' %>
            <%= f.submit t('.make_bid'), class: 'btn btn-success' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="divide mt-8"></div>
  <div id="items" class="grid grid-cols-2">
    <div class="col-span-1 p-1 border-r-2 border-slate-200">
     <h2 class="text-3xl"> <%= t(".items") %></h2>
      <% @batch.items.each do |item| %>
        <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-4">
          <%= link_to item do %>
            <%= render item %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="divide mt-8"></div>
  <h2 class="text-3xl"> <%= t(".comments") %></h2>
  <div id="comments">
    <div class="border-2 border-gray-300 p-4">
      <% @comments.each do |comment| %>
        <div class="chat chat-start">
          <div class="chat-header">
            <%= comment.user.name %>
            <time class="text-xs opacity-50"><%= l(comment.created_at, format: :long) %></time>
          </div>
          <div class="chat-bubble"><%= comment.content %></div>
        </div>
        <% if comment.comments.present? %>
          <% comment.comments.each do |c| %>
            <div class="chat chat-end">
              <div class="chat-header">
                <%= c.user.name %>
                <time class="text-xs opacity-50"><%= l(c.created_at, format: :long) %></time>
              </div>
              <div class="chat-bubble"><%= c.content %></div>
            </div>
          <% end %>
        <% else %>
          <% if current_user.admin? %>
            <%= form_with model: @new_comment, data: { turbo: false }, class: 'w-full flex flex-col  lg:flex-row lg:items-end' do |f| %>
              <input type="number" name="comment[batch_id]" value="<%= @batch.id %>" hidden>
              <input type="number" name="comment[parent_id]" value="<%= comment.id %>" hidden>
              <%= f.label :content, hidden: true %>
              <%= f.text_area :content, class: 'textarea textarea-bordered w-11/12' %>
              <%= f.submit t('.submit'), class: 'btn w-1/12' %>
            <% end %>
          <% end %>
        <% end %>
        <div class="divide mt-8"></div>
      <% end %>
    </div>
    <% if current_user.present? && current_user.regular? %>
      <%= form_with model: @new_comment, data: { turbo: false }, class: 'w-full flex flex-col  lg:flex-row lg:items-end ' do |f| %>
        <input type="number" name="comment[batch_id]" value="<%= @batch.id %>" hidden>
        <%= f.label :content, hidden: true %>
        <%= f.text_area :content, class: 'textarea textarea-bordered w-11/12' %>
        <%= f.submit t('.submit'), class: 'btn w-1/12' %>
      <% end %>
    <% end %>
  </div>
</div>
