<% if @item.errors.present? %>
  <%= render "shared/errors", errors: @item.errors %>
<% end %>
<%= form_with model: @item, class: 'grid grid-cols-4 gap-2', data: {turbo: false} do |f| %>
  <div class="col-span-4">
    <%= f.label :name, class: 'label' %>
    <%= f.text_field :name, class: 'input input-bordered w-full max-w-ws' %>
  </div>
  <div class="col-span-4">
    <%= f.label :description, class: 'label' %>
    <%= f.text_area :description, class: 'textarea textarea-bordered w-full max-w-ws' %>
  </div>
  <div class="col-span-1">
    <%= f.label :weight, class: 'label' %>
    <%= f.number_field :weight, step: 0.1, class: 'input input-bordered w-full max-w-ws' %>
  </div>
  <div class="col-span-1">
    <%= f.label :width, class: 'label' %>
    <%= f.number_field :width, step: 0.1, class: 'input input-bordered w-full max-w-ws' %>
  </div>
  <div class="col-span-1">
    <%= f.label :height, class: 'label' %>
    <%= f.number_field :height, step: 0.1, class: 'input input-bordered w-full max-w-ws' %>
  </div>
  <div class="col-span-1">
    <%= f.label :depth, class: 'label' %>
    <%= f.number_field :depth, step: 0.1, class: 'input input-bordered w-full max-w-ws' %>
  </div>
  <div class="col-span-4">
    <%= f.label :category_id, class: 'label' %>
    <%= f.collection_select :category_id, @categories, :id, :name, { prompt: false }, class: 'input input-bordered w-full max-w-ws' %>
  </div>
  <div class="col-span-4">
    <%= f.label :photo, class: 'label' %>
    <%= f.file_field :photo, class: 'file-input file-input-bordered w-full' %>
  </div>
  <div>
    <%= f.submit t('.register'), class: 'btn btn-accent' %>
  </div>
<% end %>
