<div class="w-full px-4">
  <div class="card w-full bg-base-300 shadow-xl flex flex-col">
    <div class="card-body">
      <div class="flex flex-col lg:flex-row">
        <div class="w-1/2">
          <h2 class="card-title"><%= t(".code")%>: <%= @batch.code %></h2>
          <p>
            <span class="font-bold text-lg"><%= t(".start_at") %>:</span>
            <%= l @batch.start_at, format: :long %>
          </p>
          <p>
            <span class="font-bold text-lg"><%= t(".end_at") %>:</span>
            <%= l @batch.end_at, format: :long %>
          </p>
          <p>
            <span class="font-bold text-lg"><%= t(".status") %>:</span>
            <%=  t(@batch.status) %>
          </p>
          <p>
            <span class="font-bold text-lg"><%= t(".minimum_bid") %>:</span>
            <%= t('currency', value: @batch.minimum_bid) %>
            <span class="font-bold text-lg"><%= t(".minimum_bid_difference") %>:</span>
            <%= t('currency', value: @batch.minimum_bid_difference) %>
          </p>
          <% if @batch.winner.present? %>
             <p>
              <span class="font-bold text-lg"><%= t(".winner") %>:</span>
              <%=  @batch.winner.name %>
            </p>
          <% end %>
        </div>
        <div class="w-1/2">
          <h2 class="card-title"><%= t('.bids') %></h2>
          <% if @last_bid.nil? %>
            <p><%= t('.not_initialized') %></p>
          <% else %>
            <p>
              <span class="font-bold text-lg"><%= t(".last_bid") %>:</span>
              <%= t('currency', value: @last_bid.amount) %>
            </p>
          <% end %>
        </div>
      </div>
      <%= render "actions", batch: @batch %>
    </div>
  </div>
  <div class="divide mt-8"></div>
  <div class="grid grid-cols-2 p-2">
    <div class="col-span-1 p-1 border-r-2 border-slate-200">
     <h2 class="text-3xl"> <%= t(".items") %></h2>
      <% @batch.items.each do |item| %>
        <div id="items" class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-4">
          <%= link_to item do %>
            <%= render item %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if @batch.pending? %>
      <div class="col-span-1 p-1">
        <h2 class="text-3xl"> <%= t(".add_items") %></h2>
        <div id="add_items" class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-4">
          <% @items.each do |item| %>
            <div class="card w-full bg-base-300 shadow-xl">
              <div class="card-body">
                <h2 class="card-title"><%= item.name %></h2>
                <p class="font-bold text-lg"><%= t('.code') %>: <%= item.code %></p>
                <p><%= item.description %></p>
              </div>
              <%= link_to t('.add'), add_item_batch_path(@batch, item), data: { turbo_method: :post }, class:'btn btn-accent' %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
